@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  	user-select: none;
	background: var(--tg-theme-secondary-bg-color, white);
	padding: 0;
	margin: 0;
	display: flex;
	align-items: start;
	/* min-width: 320px;*/
	width: 100%;
	overflow: hidden;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Apple Color Emoji", "Helvetica Neue", sans-serif;
}

@media (max-width: 767px) {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.hide-scrollbar {
		scrollbar-width: none;
		/* Firefox */
		-ms-overflow-style: none;
		/* IE and Edge */
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}
}


h1 {
	font-size: 2.0em;
	line-height: 1.3;
}

#root {
	/* max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center; */
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: var(--full-page-height);
	height: 100vh;
	height: 100dvh;
}

/*fix input bg bug*/
.tgui-8ca550c2fc85eff5 {
	border-radius: 14px;
	padding: 0;
}