name: TEST - build and deploy

on: 
  push:
    branches:
      - release-test

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: release-test

      - name: setup-nodejs
        uses: actions/setup-node@v4
        with: 
          node-version: 22
          cache: "npm"
      
      - name: install
        run: npm install

      - name: build
        run: npm run build
        env: 
          CI: ""

      - name: upload
        uses: moonpathbg/scp_uploader@latest
        with:
          host: ${{ vars.HOST }}
          port: ${{ vars.PORT }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_KEY }}
          source: "./dist"
          target: "/home/website/websites/howardai_web_test"

